* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fdf8f0;
  color: #1c0f0a;
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

input,
textarea,
select {
  font-family: inherit;
}

section {
  position: relative;
}